{% extends 'base.html.twig' %}

{% block title %}Edit Todo{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold text-black text-center">Modifier todo</h1>

    {{ include('todo/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_todo_index') }}">Revenir à la liste</a>
{% endblock %}
